NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://raw.githubusercontent.com/kmmcdo13/cse445-a4/main"
           xmlns="https://raw.githubusercontent.com/kmmcdo13/cse445-a4/main"
           elementFormDefault="qualified">

  <!-- root element -->
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>

        <!-- allows multiple national park entries -->
        <xs:element name="NationalPark" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <!-- park name, required exactly once -->
              <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>

              <!-- phone number(s), at least one required -->
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>

              <!-- address block -->
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>

                    <!-- street number -->
                    <xs:element name="Number" type="xs:string"/>

                    <!-- street name -->
                    <xs:element name="Street" type="xs:string"/>

                    <!-- city -->
                    <xs:element name="City" type="xs:string"/>

                    <!-- state -->
                    <xs:element name="State" type="xs:string"/>

                    <!-- zip code -->
                    <xs:element name="Zip" type="xs:string"/>

                  </xs:sequence>

                  <!-- required attribute for nearest airport -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>

            </xs:sequence>

            <!-- optional rating attribute -->
            <xs:attribute name="Rating" type="xs:decimal" use="optional"/>

          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
